<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

  <display-name>Archetype Created Web Application</display-name>
  
    <servlet>
        <servlet-name>oauthtoken</servlet-name>
        <servlet-class>oauthtoken</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>oauthtoken</servlet-name>
        <url-pattern>/api/forge/oauth/token</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>oauthurl</servlet-name>
        <servlet-class>oAuthURL</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>oauthurl</servlet-name>
        <url-pattern>/api/forge/oauth/url</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>oauth3token</servlet-name>
        <servlet-class>oauth3token</servlet-class>
    </servlet> 
    
     <servlet-mapping>
        <servlet-name>oauth3token</servlet-name>
        <url-pattern>/api/forge/callback/oauth</url-pattern>
    </servlet-mapping>
    
     <servlet>
        <servlet-name>datamanagement</servlet-name>
        <servlet-class>datamanagement</servlet-class>
    </servlet> 
    
     <servlet-mapping>
        <servlet-name>datamanagement</servlet-name>
        <url-pattern>/api/forge/datamanagement</url-pattern>
    </servlet-mapping>
    
     <servlet>
        <servlet-name>user</servlet-name>
        <servlet-class>user</servlet-class>
    </servlet> 
    
     <servlet-mapping>
        <servlet-name>user</servlet-name>
        <url-pattern>/api/forge/user/profile</url-pattern>
    </servlet-mapping>
    
</web-app>
